<div class="container">
  <% if @list.photo.attached? %>
    <div class="bannershow" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
      <h1><%= @list.name %></h1>
    </div>
  <% else %>
    <h1><%= @list.name %></h1>
  <% end %>
  <h2>Bookmarks</h2>
  <% if @list.bookmarks.size > 0 %>
    <div class="row row-cols-4">
      <% @list.bookmarks.each do |bookmark| %>
          <div class="card col m-2 bg-secondary">
            <h4 class="text-white p-2" style="font-size: 18px;"><%= bookmark.movie.title %></h4>
            <hr>
            <div class="d-flex">
              <div class="w-25">
                  <img src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %> img" class="w-100">
              </div>
              <div class="w-75 px-2">
                <p class="text-white" style="font-size: 10px;"><%= bookmark.movie.overview %></p>
              </div>
            </div>
            <div class="d-flex justify-content-between pb-2 rounded">
              <div>
                <h5 class="text-white" style="font-size: 18px;"><%= bookmark.comment %></h5>
              </div>
              <div>
                <%= link_to "Remove", list_bookmark_path(bookmark), method: :delete, class: "btn btn-danger text-white", style: "font-size: 12px;" %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  <% else %>
    <p>No bookmarks available.</p>
  <% end %>
  <div class="mt-3">
    <%= link_to "Add bookmark", new_list_bookmark_path(@list), class: "btn btn-primary", style: "font-size: 12px;" %>
    <%= link_to "Edit list", edit_list_path(@list), class: "btn btn-primary", style: "font-size: 12px;" %>
    <%= link_to "All lists", root_path, class: "btn btn-primary", style: "font-size: 12px;" %>
  </div>
  <hr>
  <h2>Reviews:</h2>
  <% if @list.votes.size > 0 %>
    <% @list.votes.each do |vote| %>
      <div class="card pt-3">
        <p class="px-2"><strong>Rating</strong>: <%= vote.rating %></p>
        <p class="px-2"><strong>Comment</strong>: <%= vote.content %></p>
      </div>
    <% end %>
  <% else %>
    <p>No review available.</p>
  <% end %>
  <div class="mt-3">
    <%= link_to "Add review", new_list_vote_path(@list), class: "btn btn-primary", style: "font-size: 12px;" %>
  </div>
</div>
